@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #f8fafc; /* Slate-50: Putih gading bersih */
  color: #1e293b; /* Slate-800: Teks gelap nyaman */
}